@use 'variables';

.header{
    background-color: variables.$purple1;
    padding: 20px;

    &__list{
        display: flex;
        justify-content: space-between;
        list-style: none;

        &__item{
            color: #fff;

        }
    }

    &__logo{
        display: block;
        width: 200px;
    }

    &__whatsapp{
        display: block;
        width: 20px;
        height: 20px;
        margin-left: 8px;
        margin-top: 5px;
    }

    &__contato{
        display: flex;
        padding: 12px;
        margin-top: 20px;
        text-decoration: none;
        cursor: pointer;
        font-size: 20px;
        color: #fff;
        border: 2px solid;
        border-radius: 20px;
    }

    

    @media (max-width:640px){
        &__list{
            flex-direction: column;
            margin: 0;
            padding: 0;

            &__item{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        
        &__logo{
            width: 250px;
            margin-top: 24px;
            margin-right: 36px;
            }

        &__contato{
            display: flex;
            align-items: center;
            text-decoration: none;
            cursor: pointer;
            font-size: 12px;
            color: #fff;
            border: 2px solid;
            border-radius: 20px;
            margin-left: 36px;
        }
    }
}