@use 'header';
@use 'carrossel';
@use 'variables';
@use 'sectionClass';
@use 'faq';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;

    @media (max-width:1024px){
        max-width: 80%;
    }

    @media (max-width:640px){
        max-width: 90%;
    }
}